<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>django level two exercise site</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <h1>没有刘亦菲</h1>
  <h2>welcome 2 django l2 ex page</h2>
  <h3>here are your user information</h3>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>go to users to sign up</h2>

    </div>

  </div>
</body>
</html>
